@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/nunito-v16-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background-color: #f4f7fb;
}
